<h2><%= name %></h2>
<img src="<%= 'http://localhost:9090/images/' + image  %>" class="th right" width='100' alt="<%= name %>">
<p>Price: <%= price %></p>
<p><%= description %></p>
<p><a href="<%= 'hats/' + id  %>">See More</a></p>