<h1><%= name %></h1>
<hr>
<img src="<%= 'http://localhost:9090/images/' + image  %>" class="th right" width='200' alt="<%= name %>">
<p>Price: <%= price %></p>
<p><%= description %></p>
<p><a href="#/<%= 'hats/' + id  %>">See More</a></p>